name: Docker Build and Test

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "**.md"

permissions:
  contents: read
  packages: write

jobs:
  build-and-test-ubuntu-docker-image:
    name: Build and Test Ubuntu Docker Image
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest

    steps:
      # Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      # Docker Buildx
      # https://github.com/marketplace/actions/docker-setup-buildx

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      # Docker Login
      # https://github.com/marketplace/actions/docker-login

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and Test Docker images
      # https://github.com/marketplace/actions/build-and-push-docker-images

      - name: Build Ubuntu Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: ubuntu
          tags: |
            ghcr.io/osinfra-io/ubuntu:test
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Test Ubuntu Docker Image
        run: |
          docker run --rm ghcr.io/osinfra-io/ubuntu:test
