name: Docker Build and Push

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-ubuntu-docker-image:
    name: Build and Push Ubuntu Docker Image
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.release.tag_name }}

    steps:
      # Checkout
      # https://github.com/marketplace/actions/checkout

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      # Docker Buildx
      # https://github.com/marketplace/actions/docker-setup-buildx

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      # Docker Login
      # https://github.com/marketplace/actions/docker-login

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and Push Docker to GitHub Container Registry
      # https://github.com/marketplace/actions/build-and-push-docker-images

      - name: Build and Push Ubuntu to GitHub Container Registry
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          context: ubuntu
          tags: |
            ghcr.io/osinfra-io/ubuntu:${{ env.VERSION }}
            ghcr.io/osinfra-io/ubuntu:latest
          cache-from: type=registry,ref=ghcr.io/osinfra-io/ubuntu:latest
          cache-to: type=inline
          push: true
